<div class="navbar">
  <div class="logo">
    <img src="assets/images/logo.png" alt="" />
    <p>Admin</p>
  </div>
  <div class="nav-list">
    <a
      routerLink="/admin/home"
      class="link"
      routerLinkActive="active"
      (click)="changeTab('home')"
      >Home</a
    >
    <a
      routerLink="/admin/user"
      class="link"
      routerLinkActive="active"
      (click)="changeTab('user')"
      >User</a
    >
    <a
      routerLink="/admin/product"
      class="link"
      routerLinkActive="active"
      (click)="changeTab('product')"
      >Product</a
    >
    <a
      routerLink="/admin/category"
      class="link"
      routerLinkActive="active"
      (click)="changeTab('category')"
      >Category</a
    >
    <a
      routerLink="/admin/collection"
      class="link"
      routerLinkActive="active"
      (click)="changeTab('collection')"
      >Collection</a
    >
    <a
      routerLink="/admin/order"
      class="link"
      routerLinkActive="active"
      (click)="changeTab('order')"
      >Order</a
    >
    <a
      routerLink="/admin/evaluate"
      class="link"
      routerLinkActive="active"
      (click)="changeTab('evaluate')"
      >Review</a
    >
  </div>
</div>
