@use "/src/styles/variable" as *;

.navbar {
  & .logo {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    & img {
      width: 30px;
      aspect-ratio: 1;
    }
    & p {
      font-size: 1.2rem;
    }
  }
  & .nav-list {
    border: 2px solid $black-color;
    display: flex;
    & .link {
      padding: 5px 10px;
      flex: 1 1 auto;
      text-align: center;
      &.active {
        color: $white-color;
        background: rgba($black-color, 1);
      }
      &:hover {
        color: $white-color;
        background: rgba($black-color, 1);
      }
    }
  }
}
