@use "/src//styles/variable" as *;

table,
th,
td {
  border: 2px solid $black-color;
  border-collapse: collapse;
  font-size: 1.6rem;
}
th {
  background: $black-color;
  color: $white-color;
}
th,
td {
  padding: 5px 10px;
}
td {
  & img {
    width: 40px;
    aspect-ratio: 1;
  }
  &.categories {
    & a {
      margin: 0 0 0 15px;
    }
  }
  &.actions {
    & a {
      font-size: 2.6rem;
      & fa-icon {
        margin: 0 0 0 10px;
        cursor: pointer;
      }
    }
  }
}
.table {
  display: flex;
  flex-flow: column;
  gap: 10px;
  & h4 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    & a:hover {
      text-decoration: underline;
    }
  }
}
