<div class="form-user">
  <h4>Roles</h4>
  <form>
    <div class="form-control">
      <input type="checkbox" name="roles" id="roles" />
      <label for="">Super Admin</label>
    </div>
    <div class="form-control">
      <input type="checkbox" name="roles" id="roles" />
      <label for="">Super Admin</label>
    </div>
    <div class="form-control">
      <input type="checkbox" name="roles" id="roles" />
      <label for="">Super Admin</label>
    </div>
    <div class="form-control">
      <input type="checkbox" name="roles" id="roles" />
      <label for="">Super Admin</label>
    </div>
    <div class="form-control">
      <input type="checkbox" name="roles" id="roles" />
      <label for="">Super Admin</label>
    </div>

    <div class="actions">
      <button type="button">
        <a [routerLink]="['/admin/user']">Cancel</a>
      </button>
      <button type="submit">Save</button>
    </div>
  </form>
</div>
