@use "/src/styles/variable" as *;
.sign-in {
  color: $white-color;
  & .form {
    margin: 0 auto;
    width: 250px;
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    & .error {
      color: $danger-color;
    }
    &-group {
      font-size: 1.8rem;
      display: flex;
      flex-flow: column nowrap;
      gap: 10px;
      & label {
        flex: 1 1 auto;
      }
      & input[type="text"],
      & input[type="password"] {
        padding: 5px 10px;
        flex: 1 1 auto;
        height: 28px;
        outline: none;
        border: none;
        border-radius: 5px;
        font-size: 1.4rem;
        background: rgba($white-color, 0.1);
        color: $white-color;
      }
    }
    & .action {
      display: flex;
      justify-content: space-between;
      & .remember {
        display: flex;
        align-items: center;
        gap: 10px;
        & label {
          font-size: 1rem;
        }
        & input[type="checkbox"] {
          accent-color: $primary-color;
        }
      }
      & .forgot {
        & a {
          color: $white-color;
          font-size: 1rem;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    & button {
      margin: 0 auto;
      padding: 8px 16px;
      width: fit-content;
      font-size: 1.4rem;
      border-radius: 5px;
      background: transparent;
      border: 1px solid $primary-color;
      color: $white-color;
      cursor: pointer;
      &:hover {
        background: rgba($primary-color, 1);
      }
    }
    & > a {
      margin: 25px auto;
      width: fit-content;
      color: $white-color;
      font-size: 1rem;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
