@use "/src/styles/variable" as *;

.reset-password {
  color: $white-color;
  & .form {
    width: 75%;
    max-width: 300px;
    margin: 100px auto;
    display: flex;
    flex-flow: column;
    gap: 20px;
    & label {
      font-size: 1.4rem;
    }

    & input {
      padding: 5px;
      font-size: 1.6rem;
      outline: none;
      border-radius: 5px;
      background: rgba($white-color, 0.1);
      border: none;
      color: $white-color;
      &:focus {
        outline: 1px solid $primary-color;
        box-shadow: 0 0 20px $primary-color;
      }
    }
    & button {
      margin: 0 auto;
      padding: 8px 16px;
      color: $white-color;
      background: rgba($primary-color, 0.75);
      border-radius: 5px;
      font-size: 1.4rem;
      cursor: pointer;
      &:hover {
        background: rgba($primary-color, 1);
      }
      & .loader {
        animation: spin 1s linear infinite;
      }
    }
  }
  & .content {
    text-align: center;
    & p {
      font-style: italic;
    }
    & a {
      margin: 0 auto;
      padding: 10px 20px;
      width: fit-content;
      background: rgba($primary-color, 0.9);
      color: $white-color;
      border-radius: 5px;
      &:hover {
        background: rgba($primary-color, 1);
      }
    }
  }
}
@keyframes spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
