<div class="reset-password">
  <app-section-title [title]="'Reset password'" [center]="true">
    <form
      class="form"
      *ngIf="isConfirmedToken; else failed"
      [formGroup]="form"
      (submit)="submit()"
    >
      <label for="">Your new password</label>
      <input type="password" formControlName="password" />
      <button type="submit" *ngIf="!resetSuccess; else sucess">
        <div class="loader" *ngIf="loading; else text">
          <fa-icon [icon]="loadingIcon" [size]="'2x'"></fa-icon>
        </div>
      </button>
    </form>
  </app-section-title>
</div>

<ng-template #failed>
  <div class="content">
    <p>{{ message }}</p>
    <a routerLink="/forgot-password">Reset password</a>
  </div>
</ng-template>

<ng-template #text> Reset password </ng-template>
<ng-template #sucess> <p>Reset successfully</p> </ng-template>
