@use "/src/styles/variable" as *;
.form-category {
  margin: 30px 0 0 0;
  border: 2px solid $black-color;
  & h4 {
    padding: 5px;
    background: $black-color;
    color: $white-color;
    text-align: center;
  }
  & form {
    padding: 15px;
    display: flex;
    flex-flow: column;
    gap: 10px;
    & .form-group {
      display: flex;
      flex-flow: column;
      gap: 5px;
      & label {
        font-size: 1.2rem;
      }
      & input[type="text"],
      & input[type="date"] {
        padding: 5px;
        font-size: 1.4rem;
      }
      //   & input[type=date]{
      //     pa
      //     font-size: 1.4rem;
      //   }
      &.gender-group {
        flex-flow: row;
        gap: 30px;
        & .form-control {
          display: flex;
          align-items: center;
          gap: 10px;
          & input[type="radio"] {
            accent-color: $black-color;
          }
        }
      }
    }
    & .actions {
      margin: 10px 0 0 0;
      display: flex;
      gap: 30px;
      align-items: center;
      justify-content: center;
      & button {
        padding: 5px 10px;
        font-size: 1.4rem;
        background: transparent;
        color: $black-color;
        cursor: pointer;
        &[type="button"] {
          border: none;
        }
        &[type="submit"] {
          border: 2px solid $black-color;
          &:hover {
            background: $black-color;
            color: $white-color;
          }
        }
      }
    }
  }
}
